[Application Options]
alias=AudioZap-Testnet
debuglevel=info
tlsextraip=0.0.0.0
rpclisten=0.0.0.0:10009
restlisten=0.0.0.0:8080

[Bitcoin]
bitcoin.active=1
# CHANGE 1: Set testnet to true
bitcoin.testnet=1
bitcoin.mainnet=0
bitcoin.node=neutrino

[Neutrino]
# CHANGE 2: Use Testnet Peers (Critical for Neutrino to sync)
neutrino.connect=testnet1-btcd.zaphq.io
neutrino.connect=btcd-testnet.lightning.computer